on:
  push:
    branches:
      - release/**

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yaml
    with:
      environment: test
  deploy:
    needs: test
    name: Deploy
    uses: ./.github/workflows/deploy.yaml
    with:
      environment: test
    secrets: inherit
